.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post {
  margin: 20px;
  border-bottom: 2px solid lightgray;
}

.post-header h1,
.post-header p {
  margin-bottom: 0px;
}

.post-date {
  font-weight: bold;
}

.post-short-description {
  height: 100px;
  overflow: auto;
}